<!doctype html>
<html lang="en">
<head>
  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{authors}}">
  <title>{{title}}</title>

  <link rel="icon" type="image/png"  href="/assets/favicon.png">

  <!-- CSS -->
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>{{insert style_tuning.fcss}}</style>
  <link rel="stylesheet" href="/css/custom.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

  <!-- https://github.com/Leaflet/Leaflet.markercluster -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="https://kit.fontawesome.com/f030d443fe.js" crossorigin="anonymous"></script>
</head>
<body id="page-top">
  {{insert nav.html}}
  {{if use_header}}{{insert header.html}}{{end}}
  <!-- Content appended here -->
